{{! Check if user is logged in }}
{{#if user}}
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">{{user.username}}</a></li>
      {{! <li><a href="/auth/login">Login</a></li> }}
      <li><a href="/auth/logout">Logout</a></li>
      {{! <li><a href="/auth/register">Register</a></li> }}
    </ul>
  </nav>
{{else}}
  {{! If no user is logged in }}
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      {{!-- <li><a href="/profile">{{user.username}}</a></li> --}}
      <li><a href="/auth/login">Login</a>
        |
        <a href="/auth/register">Register</a></li>
      {{! <li><a href="/auth/logout">Logout</a></li> }}
    </ul>
    
  </nav>
{{/if}}