<div class="searchbar">
  <label for="movie-search" class="visually-hidden">Search for a movie</label>
  <input
    type="text"
    id="movie-search"
    placeholder="Search movies..."
    autocomplete="off"
    role="combobox"
    aria-autocomplete="list"
    aria-expanded="false"
    aria-controls="search-suggestions"
    aria-haspopup="listbox"
  />
  <ul
    id="search-suggestions"
    class="suggestions-dropdown"
    role="listbox"
    aria-label="Search suggestions"
  ></ul>
</div>