<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/movie-list.css" />
  </head>
  <body>
    {{{body}}}
    <script src="js/movie-list.js"></script>
  </body>
</html>