{{> messages}} <!-- This is for flash messages(success, error, info)-->

<h1>{{title}}</h1>

{{#if user}}  <!-- Check if there is a logged-in user -->
  <h1>Welcome, {{user.username}}!</h1>
  
{{else}}  <!-- If no user is logged in -->
  <h1>Welcome, Guest!</h1>
{{/if}}

{{>movie-list}}