<main id="reg-log">

<h1>Login</h1>
<div class="register-form">
  <form class="log-form" action="/auth/login" method="POST">
  
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" name="username" required aria-required="true" id="username"> 
      <br>
    </div>
    
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required aria-required="true">
      <br>
    </div>
    
    <button type="submit">Login</button>
  </form>
</div>

<p>Don't have an account? <a href="/auth/register">Register</a></p>

</main>