{{> messages}}

<h1>Welcome, {{user.username}}</h1>

<h2>Your Reviews</h2>

{{#if reviews.length}}
  <ul>
    {{#each reviews}}
      <li>
        <strong>{{this.movie.title}}</strong>: {{this.text}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>You haven't written any reviews yet.</p>
{{/if}}

<h2>Change Password</h2>
<form method="POST" action="/auth/change-password">
    <input type="password" name="currentPassword" placeholder="Current Password" required>
    <input type="password" name="newPassword" placeholder="New Password" required>
    <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
    <button type="submit">Change password</button>
</form>