

<h1>Register</h1>
<div class="register-form" aria-label="Registration form">
  <form class="log-form" action="/auth/register" method="POST">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required aria-required="true">
      <br>
    </div> 

    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" aria-required="true">
      <br>
    </div>
    <button type="submit">Register</button>
    
  </form>
</div>

<p>Already have an account? <a href="/auth/login">Login</a></p>

