.movie-card .submit-btn,
.movie-card .api-button,
.review-form .submit-btn {
  background-color: #cc0000;
  color: #fff6f6;
  padding: 0.6rem 1rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  width: 11em;
}

.movie-card .submit-btn:hover,
.movie-card .api-button:hover,
.review-form .submit-btn:hover {
  background-color: #a30000;
  color: #fff6f6;
}
