body {
  background-color: #fff0a1;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}
colors {
  color: #fff6f6;
  color: #ffdcb5; /*nr1*/
  color: #fff0a1;
  color: #c8dba2;
  color: #c2d2c6;
}
/* navbar */
nav {
  background-color: #fff6f6;
  padding: 1em;
  text-transform: uppercase;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: underline;
}

/* accessbility */
/* focus */
a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: 2px solid #ff3b30;
  background-color: #ff3b30;
  border-color: #ff3b30;
  color: #ffffff;
}
