.home-introduction {
  /* top | right | bottom | left */
  padding: 1.5em 0 1.5em 0;
  margin-bottom: 3em; /* Space below the section */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em; /* Space between elements */
}
.home-introduction h1 {
  font-size: 2.5em; /* Font size for the main heading */
  max-width: 80ch; /* Controls line length for readability */
  margin: 5px 0 5px 0;
  color:rgb(255, 255, 255)
}
.home-introduction p {
  max-width: 80ch; /* Controls line length for readability */
  margin: 5px 0 5px 0;
  color:rgb(255, 255, 255)
}
