
#reg-log .register-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    align-items: center ;
    
}

#reg-log .log-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    box-sizing: border-box;
    align-items: center ;
    background-color: #ffdcb5;
    
}
#reg-log .form-group {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;

 }
 #reg-log label {
    margin-bottom: 5px;
}

#reg-log input[type="text"],
#reg-log input[type="password"] {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#reg-log button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#reg-log h1 {
    text-align: center;
    margin-bottom: 15px;
}

#reg-log p {
    text-align: center;
    margin-top: 15px;
}


